parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - identifier: property.unusedType
        - identifier: property.onlyWritten
    treatPhpDocTypesAsCertain: false
