ALTER TABLE user CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE report DROP FOREIGN KEY `fk_report_reported`;
ALTER TABLE report DROP FOREIGN KEY `fk_report_reporter`;
DROP INDEX idx_report_status ON report;
ALTER TABLE report DROP FOREIGN KEY `fk_report_reported`;
ALTER TABLE report DROP FOREIGN KEY `fk_report_reporter`;
ALTER TABLE report CHANGE details details LONGTEXT DEFAULT NULL, CHANGE context context VARCHAR(20) DEFAULT 'MESSAGING' NOT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE report ADD CONSTRAINT FK_C42F7784E1CFE6F5 FOREIGN KEY (reporter_id) REFERENCES user (id);
ALTER TABLE report ADD CONSTRAINT FK_C42F778494BDEEB6 FOREIGN KEY (reported_id) REFERENCES user (id);
DROP INDEX idx_report_reporter ON report;
CREATE INDEX IDX_C42F7784E1CFE6F5 ON report (reporter_id);
DROP INDEX fk_report_reported ON report;
CREATE INDEX IDX_C42F778494BDEEB6 ON report (reported_id);
ALTER TABLE report ADD CONSTRAINT `fk_report_reported` FOREIGN KEY (reported_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE report ADD CONSTRAINT `fk_report_reporter` FOREIGN KEY (reporter_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE chat_lock DROP FOREIGN KEY `fk_cl_admin`;
ALTER TABLE chat_lock DROP FOREIGN KEY `fk_cl_user`;
DROP INDEX fk_cl_admin ON chat_lock;
DROP INDEX idx_cl_user ON chat_lock;
ALTER TABLE chat_lock CHANGE locked_at locked_at DATETIME NOT NULL;
ALTER TABLE chat_lock ADD CONSTRAINT FK_2113064FA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE contact_request DROP FOREIGN KEY `fk_cr_client`;
ALTER TABLE contact_request DROP FOREIGN KEY `fk_cr_therapist`;
ALTER TABLE contact_request DROP FOREIGN KEY `fk_cr_client`;
ALTER TABLE contact_request DROP FOREIGN KEY `fk_cr_therapist`;
ALTER TABLE contact_request CHANGE message message LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE contact_request ADD CONSTRAINT FK_A1B8AE1E19EB6921 FOREIGN KEY (client_id) REFERENCES user (id);
ALTER TABLE contact_request ADD CONSTRAINT FK_A1B8AE1E43E8B094 FOREIGN KEY (therapist_id) REFERENCES user (id);
DROP INDEX fk_cr_client ON contact_request;
CREATE INDEX IDX_A1B8AE1E19EB6921 ON contact_request (client_id);
DROP INDEX fk_cr_therapist ON contact_request;
CREATE INDEX IDX_A1B8AE1E43E8B094 ON contact_request (therapist_id);
ALTER TABLE contact_request ADD CONSTRAINT `fk_cr_client` FOREIGN KEY (client_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE contact_request ADD CONSTRAINT `fk_cr_therapist` FOREIGN KEY (therapist_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE conversation DROP FOREIGN KEY `fk_conv_client`;
ALTER TABLE conversation DROP FOREIGN KEY `fk_conv_therapist`;
DROP INDEX uq_conv ON conversation;
ALTER TABLE conversation DROP FOREIGN KEY `fk_conv_therapist`;
ALTER TABLE conversation CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E919EB6921 FOREIGN KEY (client_id) REFERENCES user (id);
ALTER TABLE conversation ADD CONSTRAINT FK_8A8E26E943E8B094 FOREIGN KEY (therapist_id) REFERENCES user (id);
DROP INDEX fk_conv_therapist ON conversation;
CREATE INDEX IDX_8A8E26E943E8B094 ON conversation (therapist_id);
ALTER TABLE conversation ADD CONSTRAINT `fk_conv_therapist` FOREIGN KEY (therapist_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE notification DROP FOREIGN KEY `fk_notif_user`;
DROP INDEX idx_notif_user ON notification;
ALTER TABLE notification CHANGE body body LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE notification ADD CONSTRAINT FK_BF5476CAA76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
ALTER TABLE blocked_user DROP FOREIGN KEY `FK_718E113743E8B094`;
DROP INDEX fk_block_therapist ON blocked_user;
CREATE INDEX IDX_718E113743E8B094 ON blocked_user (therapist_id);
ALTER TABLE blocked_user ADD CONSTRAINT `FK_718E113743E8B094` FOREIGN KEY (therapist_id) REFERENCES user (id);
ALTER TABLE client_profile DROP FOREIGN KEY `fk_client_user`;
ALTER TABLE client_profile DROP FOREIGN KEY `fk_client_user`;
ALTER TABLE client_profile CHANGE bio bio LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE client_profile ADD CONSTRAINT FK_D36AEE72A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX user_id ON client_profile;
CREATE UNIQUE INDEX UNIQ_D36AEE72A76ED395 ON client_profile (user_id);
ALTER TABLE client_profile ADD CONSTRAINT `fk_client_user` FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE message DROP FOREIGN KEY `fk_msg_conv`;
ALTER TABLE message DROP FOREIGN KEY `fk_msg_sender`;
DROP INDEX idx_msg_conv ON message;
ALTER TABLE message DROP FOREIGN KEY `fk_msg_sender`;
ALTER TABLE message CHANGE content content LONGTEXT NOT NULL, CHANGE sent_at sent_at DATETIME NOT NULL;
ALTER TABLE message ADD CONSTRAINT FK_B6BD307F9AC0396 FOREIGN KEY (conversation_id) REFERENCES conversation (id);
ALTER TABLE message ADD CONSTRAINT FK_B6BD307FF624B39D FOREIGN KEY (sender_id) REFERENCES user (id);
DROP INDEX fk_msg_sender ON message;
CREATE INDEX IDX_B6BD307FF624B39D ON message (sender_id);
ALTER TABLE message ADD CONSTRAINT `fk_msg_sender` FOREIGN KEY (sender_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE password_reset_codes DROP FOREIGN KEY `fk_reset_user`;
ALTER TABLE password_reset_codes DROP FOREIGN KEY `fk_reset_user`;
ALTER TABLE password_reset_codes CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE password_reset_codes ADD CONSTRAINT FK_D1E1C4C0A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX idx_reset_user ON password_reset_codes;
CREATE INDEX IDX_D1E1C4C0A76ED395 ON password_reset_codes (user_id);
ALTER TABLE password_reset_codes ADD CONSTRAINT `fk_reset_user` FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE therapist_profile DROP FOREIGN KEY `fk_therapist_user`;
ALTER TABLE therapist_profile DROP FOREIGN KEY `fk_therapist_user`;
ALTER TABLE therapist_profile DROP session_rate, DROP available_days, CHANGE bio bio LONGTEXT DEFAULT NULL, CHANGE created_at created_at DATETIME NOT NULL;
ALTER TABLE therapist_profile ADD CONSTRAINT FK_12039482A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
DROP INDEX user_id ON therapist_profile;
CREATE UNIQUE INDEX UNIQ_12039482A76ED395 ON therapist_profile (user_id);
ALTER TABLE therapist_profile ADD CONSTRAINT `fk_therapist_user` FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE user_settings DROP FOREIGN KEY `FK_SETTINGS_USER`;
ALTER TABLE user_settings CHANGE theme theme VARCHAR(5) DEFAULT 'LIGHT' NOT NULL, CHANGE font_size font_size VARCHAR(6) DEFAULT 'NORMAL' NOT NULL, CHANGE language language VARCHAR(2) DEFAULT 'FR' NOT NULL;
ALTER TABLE user_settings ADD CONSTRAINT FK_5C844C5A76ED395 FOREIGN KEY (user_id) REFERENCES user (id);
